@page "/"

<PageTitle>Index</PageTitle>

<div data-target="readme-toc.content" class="Box-body px-5 pb-5">
    <article class="markdown-body entry-content container-lg" itemprop="text">
        <h1 dir="auto"><a id="user-content-blazor100" class="anchor" aria-hidden="true" href="#blazor100">@((MarkupString)pathicon)</a>Blazor100</h1>
        <p dir="auto">Blazor入门100天</p>
        <h5 dir="auto"><a id="user-content-演示地址httpsblazorapp1es" class="anchor" aria-hidden="true" href="#演示地址httpsblazorapp1es">@((MarkupString)pathicon)</a><a href="https://blazor.app1.es" rel="nofollow">演示地址:https://blazor.app1.es</a></h5>
        <h5 dir="auto"><a id="user-content-1使用js隔离封装viewerjs库" class="anchor" aria-hidden="true" href="#1使用js隔离封装viewerjs库">@((MarkupString)pathicon)</a><a href="https://github.com/densen2014/Blazor100/blob/master/D1.Viewer.md">1.使用JS隔离封装viewerjs库</a></h5>
        <h5 dir="auto"><a id="user-content-2使用js隔离制作手写签名组件" class="anchor" aria-hidden="true" href="#2使用js隔离制作手写签名组件">@((MarkupString)pathicon)</a><a href="https://github.com/densen2014/Blazor100/blob/master/D2.Handwritten.md">2.使用JS隔离制作手写签名组件</a></h5>
        <h5 dir="auto"><a id="user-content-3使用js隔离封装zxing扫码" class="anchor" aria-hidden="true" href="#3使用js隔离封装zxing扫码">@((MarkupString)pathicon)</a><a href="https://github.com/densen2014/Blazor100/blob/master/D3.BarcodeScanner.md">3.使用JS隔离封装ZXing扫码</a></h5>
        <h5 dir="auto"><a id="user-content-4使用js隔离封装signature_pad签名组件" class="anchor" aria-hidden="true" href="#4使用js隔离封装signature_pad签名组件">@((MarkupString)pathicon)</a><a href="https://github.com/densen2014/Blazor100/blob/master/D4.SignaturePad.md">4.使用JS隔离封装signature_pad签名组件</a></h5>
        <h5 dir="auto"><a id="user-content-5使用js隔离封装google地图" class="anchor" aria-hidden="true" href="#5使用js隔离封装google地图">@((MarkupString)pathicon)</a><a href="https://github.com/densen2014/Blazor100/blob/master/D5.GoogleMap.md">5.使用JS隔离封装Google地图</a></h5>
        <h5 dir="auto"><a id="user-content-6使用js隔离封装baidu地图" class="anchor" aria-hidden="true" href="#6使用js隔离封装baidu地图">@((MarkupString)pathicon)</a><a href="https://github.com/densen2014/Blazor100/blob/master/D6.BaiduMap.md">6.使用JS隔离封装Baidu地图</a></h5>
        <h5 dir="auto"><a id="user-content-7使用js隔离制作定位持续定位组件" class="anchor" aria-hidden="true" href="#7使用js隔离制作定位持续定位组件">@((MarkupString)pathicon)</a><a href="https://github.com/densen2014/Blazor100/blob/master/D7.Geolocation.md">7.使用JS隔离制作定位/持续定位组件</a></h5>
        <h5 dir="auto"><a id="user-content-8使用js隔离封装屏幕键盘kioskboardjs组件" class="anchor" aria-hidden="true" href="#8使用js隔离封装屏幕键盘kioskboardjs组件">@((MarkupString)pathicon)</a><a href="https://github.com/densen2014/Blazor100/blob/master/D8.OnScreenKeyboard.md">8.使用JS隔离封装屏幕键盘kioskboard.js组件</a></h5>
        <h5 dir="auto"><a id="user-content-9用20行代码实现文件上传浏览目录功能-blazor-server" class="anchor" aria-hidden="true" href="#9用20行代码实现文件上传浏览目录功能-blazor-server">@((MarkupString)pathicon)</a><a href="https://github.com/densen2014/Blazor100/blob/master/D9.BlazorFileUpload.md">9.用20行代码实现文件上传,浏览目录功能 (Blazor server)</a></h5>
        <h5 dir="auto"><a id="user-content-教程更多请看wiki" class="anchor" aria-hidden="true" href="#教程更多请看wiki">@((MarkupString)pathicon)</a><a href="https://github.com/densen2014/Blazor100/wiki">教程更多请看Wiki...</a></h5>
        <br>
        <h4 dir="auto"><a id="user-content-项目源码" class="anchor" aria-hidden="true" href="#项目源码">@((MarkupString)pathicon)</a>项目源码</h4>
        <p dir="auto"><a href="https://github.com/densen2014/Blazor100">Github</a> | <a href="https://gitee.com/densen2014/Blazor100" rel="nofollow">Gitee</a></p>
        <h4 dir="auto"><a id="user-content-alexchow" class="anchor" aria-hidden="true" href="#alexchow">@((MarkupString)pathicon)</a>AlexChow</h4>
        <p dir="auto"><a href="https://www.toutiao.com/c/user/token/MS4wLjABAAAAGMBzlmgJx0rytwH08AEEY8F0wIVXB2soJXXdUP3ohAE/?" rel="nofollow">今日头条</a> | <a href="https://www.cnblogs.com/densen2014" rel="nofollow">博客园</a> | <a href="https://www.zhihu.com/people/alex-chow-54" rel="nofollow">知乎</a> | <a href="https://gitee.com/densen2014" rel="nofollow">Gitee</a> | <a href="https://github.com/densen2014">GitHub</a></p>
        <br><br><br><br>
        <h6 style="color:lightskyblue;">@ver</h6>
        <h6 style="color:lightskyblue;">@build</h6>
    </article>
</div>




@code{
    string? ver { get; set; }
    string? build { get; set; }

    //星云锁链
    string pathicon = "<svg class='octicon octicon-link' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>";

    Version? version { get; set; } = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        ver = $"Ver {version?.Major}.{version?.Minor}.{version?.Build}";
        build = "Build:" +  File.GetLastWriteTime(Path.Combine(Directory.GetCurrentDirectory(), "Blazor100.dll")).ToLocalTime().ToString("yyyy-MM-dd HH:mm");

    }


}
